{%extends 'storage.html'%}

{%block table%}
<a href = {% url "stor"%}><h6><-На склад</h6></a>

<form id="changelist-form" method="post" novalidate><input type="hidden">
{% csrf_token %}
 <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">Основное средство</th>
          <th scope="col">Гр. уч.</th>
          <th scope="col">Инвентарник</th>
          <th scope="col">Серийник</th>
          <th scope="col">ЦМО</th>
          <th scope="col">Дата ввода в эксплуатацию</th>
          <th scope="col">Дата принятия к учету</th>
          <th scope="col">Количество</th>
      </tr>
    </thead>
    <tbody>
    {% for item in object  %} 
      <tr>
        <th scope="row">{{item.name}}</th>
                <td>{{item.acounting}}</td>
                <td>{{item.inv_number}}</td>
                <td>{{item.ser_number}}</td>
                <th >{{item.cmo}}</th>
                <td>{{item.data_get}}</td>
                <td>{{item.data_inp}}</td>
                <td>{{item.quantity}}</td>
        <td><a href = "delete/{{item.tecNumber}}">&#128465;&#65039</a></td>
        <form method="post"><td><input type="hidden"><a href = "update/{{item.tecNumber}}">♻️</a></td></form>
      </tr>
    {% endfor  %}
    {%endblock%}