{%extends 'storage.html'%}

{%block table%}
<a href = {% url "storage"%}><h6><-На склад</h6></a>

<form id="changelist-form" method="post" novalidate><input type="hidden">
{% csrf_token %}
 <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">Техника</th>
        <th scope="col">Техномер</th>
      </tr>
    </thead>
    <tbody>
    {% for item in object  %} 
      <tr>
        <th scope="row">{{item.technincs}}</th>
        <td>{{item.tecNumber}}</td>
        {% if item.status == True%}
          <td>✔️</td>
        {% elif item.status == False %}
          <td>❌</td>
        {% endif %}
        <td><a href = "delete/{{item.tecNumber}}">&#128465;&#65039</a></td>
        <form method="post"><td><input type="hidden"><a href = "update/{{item.tecNumber}}">♻️</a></td></form>
      </tr>
    {% endfor  %}
    {%endblock%}