{% extends 'base.html' %}

{% block form %}

<form method="post">
    {% csrf_token %}
    {% comment %} {{form.as_p}} {% endcomment %}
    <p>
        <h5><label style = "padding: 5px; margin-right: 60px;">Имя пользователя</label><h5>
        <input type="text" name="username"/>
        </p>
        <p>
          <label style = "padding: 10px; margin-right: 165px;">Пароль</label><br>
          <input type="password" name="password" />
          </p>
    <button style = "margin: 10px; border-color:white; border-radius: 20px" class="btn btn-dark" tupe = "submit" >Войти</button>
</form> 
{% endblock  %}

