{%extends 'base.html'%}

{% block form %}
<form id="changelist-form" method="post" novalidate><input type="hidden">
    {% csrf_token %}
     <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">Файл</th>
          </tr>
        </thead>
        <tbody>
        {% for item in upload  %} 
          <tr>
            <td>{{item.file}}</td>
            <td><form method="post"><td><input type="hidden"><a href = "read_from_csv/{{item.file}}">Выбрать</a></td></form></td>
          </tr>
        {% endfor  %}
        </tbody>
      </table>

              </form>
  </main>
</div>
 </body>
{% endblock  %}