{%extends 'base.html'%}

{%block form%}
<body>
  {% if user.is_authenticated%}
  {% comment %} <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <input type="text" placeholder="Название" name="title">
      <input type="file" name="myfile"> 
      <button type="submit">Загрузить</button>
    </form> {% endcomment %}

    <form class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column " enctype="multipart/form-data" method = "post" action="{% url 'upload' %}">
        {% csrf_token %}

        {% for f in form %}
         <p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
         <div class="form-error">{{ f.errors }}</div> 
         {% endfor %} 

        <button class="btn btn-dark" tupe = "submit" ><h6>Добавить</h6></button>
     </form>

    {%else%}
    <section class="u-clearfix u-container-align-center u-palette-1-dark-3 u-section-1" id="carousel_5149">
      <div class="u-clearfix u-sheet u-sheet-1">
          <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
              <div class="u-gutter-0 u-layout">
                  <div class="u-layout-col">
                      <div class="u-size-30">
                          <div class="u-layout-row">
                              <div class="u-container-align-center-lg u-container-align-center-xl u-container-style u-layout-cell u-size-40 u-layout-cell-1">
                                  <div class="u-container-layout u-valign-middle-lg u-valign-middle-xl u-container-layout-1">
                                      <div class="u-container-align-center-sm u-container-align-center-xs u-container-align-left-lg u-container-align-left-md u-container-align-left-xl u-container-style u-expanded-width-lg u-expanded-width-xl u-group u-radius-50 u-shape-round u-white u-group-1" data-animation-name="customAnimationIn" data-animation-duration="2000">
                                          <div class="u-container-layout u-valign-middle u-container-layout-2">
                                              <h2 class="u-align-center-sm u-align-center-xs u-align-left-lg u-align-left-md u-align-left-xl u-text u-text-default u-text-1">404 вы не авторизованны</h2>
                                              <p class="u-align-center-sm u-align-center-xs u-align-left-lg u-align-left-md u-align-left-xl u-text u-text-default u-text-2">Пожалуйста войдите в систему для продолжениея</p>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-ed1d">
    <div class="u-clearfix u-sheet u-sheet-1">
        <p class="u-small-text u-text u-text-variant u-text-1">Если у вас есть вопросы то пишите администратору L@gmail.com</p>
    </div>
</footer>
<section class="u-backlink u-clearfix u-grey-80">
        <span>Website</span>
    <p class="u-text">
        <span>created with</span>
    </p>
        <span>Ilya Leonov</span>
    . 

</section>
{%endif%}
</body>
{% if uploaded_file_url %}
<p>Файл загружен как: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
{% endif %}

<p><a href="{% url 'table' %}">Вернуться на главную</a></p>
{%endblock%}

